<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @category.nombre %>
</p>

<p>
  <b>Detalle:</b>
  <%= @category.detalle %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
