<%= form_for(@articulo) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :cuerpo %><br />
    <%= f.text_area :cuerpo %>
  </div>

  <p>Categorias
  <% for categoria in Categorium.find(:all) %>
    <div>
       <%=  categoria.nombre %> <br>
       <%=  @articulo.titulo %> <br>
       <%=  @articulo.id %> <br>
       <%=  @articulo.autor.nombre %> <br>
       <%=  @articulo.categoria%> <br>

   </div>
  <% end %>
  </p>


 
  <div class="actions">
    <%= f.submit "Crear articulo" %>
  </div>
<% end %>
