<h1>Listado de articulos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Cuerpo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articulos.each do |articulo| %>
  <tr>
    <td><%= articulo.titulo %></td>
    <td><%= articulo.cuerpo %></td>
    <td><%= link_to 'Ver', articulo %></td>
    <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
    <td><%= link_to 'Eliminar', articulo, confirm: 'Confirma?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Articulo', new_articulo_path %>
