<h1 class="formato_articulos_t" >Listado de mis articulos</h1>
<%= link_to 'Nuevo Articulo', new_articulo_path %>

<% @articulos.each do |articulo| %>
<div class="formato_articulos">
	<p id="fecha"><%= articulo.created_at.strftime("%A, %h %d %Y, %H:%M hs") %></p>
	<p id="titulo"><%= articulo.titulo %></p>
	<p><%= articulo.cuerpo %></p><br />
	<p id="acciones">
          <%= link_to 'Ver', articulo %> |
	  <%= link_to 'Editar', edit_articulo_path(articulo) %> |
 	  <%= link_to 'Eliminar', articulo, confirm: 'Confirma?', method: :delete %></p>
</div>
<% end %>





