<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @articulo.titulo %>
</p>

<p>
  <b>Cuerpo:</b><br>
  <%= @articulo.cuerpo %>
</p>

<p>
   <b>Categorias:</b>
   <% @articulo.categories.each do |c| %>
     '<%= c.nombre %>' 
   <% end %>
</p>


<p>
<b><%= "Comentarios:" if @articulo.comentarios.count > 0 %></b><br/>
<% @articulo.comentarios.each do |c| %>
<%= "[#{c.comentarista}] #{c.cuerpo}" %><br/>
<% end %>
</p>


<%= link_to 'Editar', edit_articulo_path(@articulo) %> |
<%= link_to 'Volver', articulos_path %>
